.centered {
  margin: auto;
  width: 75%;
  padding: 100px;
  color: black;
}

.button {
  font-weight: bold;
  width: 40%;
}

.field {
  width: 100%;
  margin: 1px;
}

.form-field {
  display: flex;
  align-items: flex-start;

}

.titulo {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 5px;
}

.pax {
  font-weight: bold;
}
