<mat-card>
  <div class="centered">
    <p class="titulo">Ingrese su información de tarjeta</p>
    <br>
    <mat-divider/>
    <div class="form-field">
      <img src="https://img.icons8.com/?size=100&id=13608&format=png&color=000000" alt="visa logo"
           style="width:51px;height:50px;">
      <img src="https://cdn.iconscout.com/icon/free/png-512/free-mastercard-icon-svg-download-png-32303.png?f=webp&w=256" alt="mastercard logo"
          style="width: 51px;height: 50px">
    </div>
    <mat-divider/>
    <br>
    <form [formGroup]="cForm" (ngSubmit)="onSubmit()">
      <p class="pax">Ingrese su numero de tarjeta</p>
      <mat-form-field class="field" appearance="outline">
        <input matInput required formControlName="card"/>
      </mat-form-field>
      <p class="pax">Fecha de expiración</p>
      <div class = "form-field">
        <mat-form-field appearance="outline">
          <input matInput placeholder="MM" formControlName="month"/>
        </mat-form-field>
        <p class="titulo"> - </p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="YY" formControlName="year"/>
        </mat-form-field>
      </div>
      <p class="pax">CVC</p>
      <mat-form-field appearance="outline">
        <input matInput placeholder="CVV/CVC" formControlName="cvc"/>
      </mat-form-field>
    </form>
    <br>
    <div style="text-align: center">
      <button matButton="filled" class="button" type="submit" [disabled]="cForm.invalid" (click)="onSubmit()">Realizar el pago</button>
    </div>
  </div>
</mat-card>

